@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: theme("colors.dark.background");
}

.emoji-picker__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.emoji-picker__content {
  width: fit-content;
  margin: auto;
}

