@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: theme("colors.light.background");
  --toggleColor: theme("colors.light.main");
}

[class="dark"] {
  --backgroundColor: theme("colors.dark.background");
  --toggleColor: theme("colors.dark.main");
}

html {
  background-color: var(--backgroundColor);
}

.emoji-picker__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.emoji-picker__content {
  width: fit-content;
  margin: auto;
}
.toggle-button > input:checked ~ .dot {
  transform: translateX(100%);
  background-color: var(--toggleColor);
}

