.se-c-button {
  @apply text-sm
  font-medium
  px-4
  py-2
  rounded-full
  border
  disabled:opacity-50
  border-light-main
  dark:border-dark-main
  text-light-main
  dark:text-dark-main
  bg-[var(--button-color)];

  background-image: linear-gradient(
    -183deg,
    var(--button-color) 49.5%,
    var(--primary-color) 50.5%
  );
  background-size: 100% 255%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  transition-property: color, background-color, background-position;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.se-c-button:hover:not(:disabled),
.se-c-button:focus:not(:disabled),
.se-c-button:active:not(:disabled) {
  @apply text-white
  dark:text-black;

  background-position: 0 100%;
  outline: 0;
  transition-duration: 0.1s;
}

.se-c-button--primary {
  @apply border-light-main
  dark:border-dark-main
  text-white 
  dark:text-black
  bg-[var(--primary-color)];

  background-image: linear-gradient(
    -183deg,
    var(--primary-color) 49.5%,
    var(--button-color) 50.5%
  );
}

.se-c-button--primary:hover:not(:disabled),
.se-c-button--primary:focus:not(:disabled),
.se-c-button--primary:active:not(:disabled) {
  @apply border-light-main
    dark:border-dark-main
    text-light-main
    dark:text-dark-main;

  background-position: 0 100%;
  outline: 0;
  transition-duration: 0.1s;
}

.se-c-button--danger {
  @apply border-danger-border
    text-white
    bg-danger-base
    dark:border-danger-border
    dark:text-white
    dark:bg-danger-base;

  background-image: linear-gradient(
    -183deg,
    var(--dangerColor) 49.5%,
    var(--button-color) 50.5%
  );
}

.se-c-button--danger:hover:not(:disabled),
.se-c-button--danger:focus:not(:disabled),
.se-c-button--danger:active:not(:disabled) {
  @apply border-danger-border
  text-danger-base
  bg-[var(--button-color)]
  dark:border-danger-border
  dark:text-danger-base
  dark:bg-[var(--button-color)];

  background-position: 0 100%;
  outline: 0;
  transition-duration: 0.1s;
}
