@import "./_spinner.css";
@import "../components/Core/button/button.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: theme("colors.light.background");
  --toggle-color: theme("colors.light.main");
  --primary-color: theme("colors.light.main");
  --button-color: theme("colors.light.buttons");
}

[class="dark"] {
  --background-color: theme("colors.dark.background");
  --toggle-color: theme("colors.dark.main");
  --primary-color: theme("colors.dark.main");
  --button-color: theme("colors.dark.buttons");
}

html {
  background-color: var(--background-color);
}

h1 {
  @apply font-heading text-5xl font-bold;
}

h2 {
  @apply font-heading text-3xl font-bold;
}

.emoji-picker__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.emoji-picker__content {
  width: fit-content;
  margin: auto;
}

.toggle-button > input:checked ~ .dot {
  transform: translateX(100%);
  background-color: var(--toggle-color);
}

.main-panel__container {
  min-height: 90vh;
}

.panel__card-container {
  height: 90%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.dark.scrollbar");
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

/**
* Custom focus ring
*/
a:focus,
button:focus,
[tabindex]:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

a,
button,
[tabindex] {
  &:focus {
    box-shadow: 0 0 0 1px var(--primary-color);
  }

  &:focus:not(:focus-visible) {
    box-shadow: none;
  }
}
