@import "./_spinner.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: theme("colors.light.background");
  --toggleColor: theme("colors.light.main");
}

[class="dark"] {
  --backgroundColor: theme("colors.dark.background");
  --toggleColor: theme("colors.dark.main");
}

html {
  background-color: var(--backgroundColor);
}

.emoji-picker__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.emoji-picker__content {
  width: fit-content;
  margin: auto;
}

.toggle-button > input:checked ~ .dot {
  transform: translateX(100%);
  background-color: var(--toggleColor);
}

.main-panel__container {
  min-height: 90vh;
}

.panel__card-container {
  height: 90%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  padding: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.dark.scrollbar");
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
